
/* Elimino i margini di default dalla pagina per avere l'header full width */
body {
    width:100%;
    margin:0;
    font-size: 0.9rem;
}

header {
    background-color: #4ea1ff;
}

/* Ripristino i margini per il contenuto della pagina */
main, footer {
    margin:5px;
}

.topbar {
    min-height: 100px;
    max-height: 150px;
    background-image: url(/assets/img/pattern.png);
    background-size:400px;
    overflow: hidden;
}

#logo {
    width:20%;
    max-height: 60px;
    padding-top:35px;
    padding-left:10px;
    padding-bottom: 10px;
}

/* Classe utility per evidenziare parti di testo */
.highlight {
    background-color: yellow;
}

.news-title h1 {
    max-width: 80%;
    font-size: 2rem;
    line-height: 1.9rem;
    letter-spacing: -.04rem;
    margin-bottom:2px;
}

.news-title .author {
    color: #8f8f8f;
    margin-top:0px;
    margin-bottom:0px;
    font-size: .9rem;
    font-weight:700;
}

.news-title .author strong{
    color:#65aec9
}

.news-title .news-date {
    margin-top:0px;
    font-size: .9rem;
    color: #8f8f8f;
    font-weight:700;
}

.gallery {
    max-height: 300px;
}

.gallery img {
    vertical-align: top;
    height: 280px;
    max-width: 45%;
}

.gallery .caption {
    margin-top:2px;
    margin-bottom:0px;
    font-size: 0.7rem;
}